*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:rgb(245, 245, 245);
    font-family: 'Inconsolata', monospace;
}
header{
    background-color: white;
    height: 135px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
 display: flex;   
 list-style: none;
 align-items: center;
}
ul li a{
    padding: 0 20px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: inline-block;
}
li a::after{
    content:'';
    height: 4px;
    display: block;
    width: 0%;
    background: rgb(255, 141, 155);
    transition: all .5s;
}
li a:hover::after{
    width: 100%;
}
main{
    display: flex;
    height: calc(100vh - 135px);
    align-items: center;
    justify-content: center;
    
}
.flow{
    
    height: auto;
    object-fit: cover;
}
.content-left{
    width: 30%;
}
main h1{
    font-size: 54px;
    color: rgb(236, 119, 108);
    text-transform: uppercase;
}
main h2{
    font-size: 25px;
    color: rgb(236, 119, 108);
    text-transform: uppercase;
    letter-spacing: 8px;
}
main p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(7, 85, 104);
    line-height: 31.5px;
    margin: 30px 0;
}
.cta{
    padding: 15px 30px;
    background-color:rgb(252, 161, 0) ;
    color: rgb(250, 241, 237);
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}
.cta:hover{
    background-color:rgb(252, 151, 0) ;
    cursor: pointer;
}
.cta:active{
    background-color:rgb(204, 123, 2) ;
    box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.signin-btn{
    padding: 15px 30px;
    background-color:rgb(230, 173, 211) ;
    color: rgb(250, 241, 237);
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}